body {
  font-family: "Bree Serif", serif;
  background-color: #c14040;
}

.header {
  background-color: #efe3e3;
  display: flex;
  justify-content: space-between;
  color: #c44040;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 20px;
}

.header a {
  text-decoration: none;
}

.sitename {
  color: brown;
}

.header nav {
  align-self: center;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  color: #c44040;
  text-decoration: none;
}

.card a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.card {
  background-color: #982c2c;
  border-radius: 25px;
}

.card img {
  height: auto;
  width: 100%;
}

.pokemon_name {
  font-size: 1.5rem;
  color: #edced3;
  text-align: center;
  font-weight: 100;
}

.details-title {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.details-subtitle {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 100;
}

.details-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.details {
  background-color: #ab3838;
  padding: 2rem 1rem;
  border-radius: 15px;
  width: 50%;
}

.details em {
  font-style: normal;
  color: #ffff;
  margin-right: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.details a {
  text-decoration: none;
}

.statistics-title {
  color: #ffff;
  font-weight: 100;
}

.stat_row {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.7rem;
}

.stat_name {
  color: #ffff;
  width: 10rem;
}

.stat {
  color: #ffff;
  width: 6rem;
}

.progress_bar {
  display: flex;
  width: 100%;
}

.progress_bar_color_one {
  background-color: #ffff;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.progress_bar_color_two {
  background-color: #632b2b;
  /* width: 40%; */
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.go_back {
  color: #ffff;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 2rem;
}

.type_card_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.type_card {
  width: 18rem;
  text-align: center;
  border-radius: 10px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.type_card a:link,
.type_card a:visited,
.type_card a:hover,
.type_card a:active {
  text-decoration: none;
  color: #ffff;
}

.types_title {
  color: #ffff;
  font-weight: 100;
  font-size: 1.3rem;
}

/* Greetings/Landing page */
/* Variables for colors */
:root {
  --top-header-text-color: #cbf54a;
  --top-header-background-color: #c14040;
  --intro-container-background-color: #cbf54a;
  --intro-background-color: #cbf54a;
  --intro-link-color: #cbf54a;
  --intro-link-background-color: #c14040;
  --intro-link-hover-color: #245ac0;
  --articles-container-bottom-border-color: #cbf54a;
  --article-link-color: #000000;
  --article-link-background-color: #beef29;
  --article-text-color: #cbf54a;
  --article-link-hover-color: #4d4d4d;
  --footer-text-color: #cbf54a;
  --footer-text-background-color: #2c2c2c;
}


/* body {
  font-family: 'Open Sans', sans-serif;
} */

.top-header {
  color: var(--top-header-text-color);
  background-color: var(--top-header-background-color);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.intro-container {
  background-color: var(--intro-container-background-color);
}

.intro {
  width: 60%;
  background-color: var(--intro-background-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
     
.intro__header {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.intro__text {
  line-height: 1.5rem;
}

.intro__link {
  color: var(--intro-link-color);
  background-color: var(--intro-link-background-color);
  padding: 1rem;
  display: block;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 7px;
  text-decoration: none;
}

.intro__link:hover {
  background-color: var(--intro-link-hover-color);
  transition: 500ms;
}

.articles-container {
  display: flex;
  gap: 3rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-bottom: 1px solid var(--articles-container-bottom-border-color);
  margin-bottom: 5rem;
}

.article {
  padding-bottom: 2rem;
  color: var(--article-text-color);
}

.article__header {
  font-weight: 900;
  font-size: 1.7rem;
  padding-bottom: 1rem;
  letter-spacing: 0.07rem;
}

.article__text {
  line-height: 1.5rem;
}

.article__link {
  color: var(--article-link-color);
  background-color: var(--article-link-background-color);
  padding: 0.9rem;
  display: block;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 7px;
  text-decoration: none;
  font-size: 0.9rem;
}

.article__link:hover {
  background-color: var(--article-link-hover-color);
  transition: 500ms;
}

.footer-text {
  color: var(--footer-text-color);
  background-color: var(--footer-text-background-color);
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  letter-spacing: 0.07rem;
  font-weight: 100;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 4rem;
}

/* Smaller Screens */
@media screen and (max-width: 1200px) {

  .articles-container {
      display: block;
      gap: 1rem;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      border-bottom: 1px solid #d1cfcf;
      margin-bottom: 4rem;
  }

  .details-container {
    flex-direction: column;
    text-align: center;
  }

  .details {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {

  .intro__header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .details-image img {
    height: auto;
    width: 80%; 
  }
}

@media screen and (max-width: 350px) {

  .intro__header {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .header {
    font-size: 1rem;
  }

  .details em {
    display: inline-block;
  }
}
