<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

    <title>Pokedex</title>
</head>
<body>
    <header>
        <h1 class="top-header">Training project</h1>
    </header>
    <main>
        <div class="intro-container">
            <div class="intro">
                <h1 class="intro__header">Pokemon Catalogue!</h1>
                <p class="intro__text">This is one of the projects that I did during my Full Stack JavaScript training at 
                    O'clock school (course description is here <a href="https://oclock.io/formations/developpeur-web-fullstack-javascript"> >> </a>).
                    </p>
                    <p class="intro__text">
                        I did not design this project. The project description and the design was provided in the form of images. 
                        I put it all together. </p>
                <a class="intro__link" href="/index">Start >></a>
            </div>
        </div>
        <div class="articles-container">
            <div class="article">
                <h1 class="article__header">Description</h1>
                <p class="article__text">This is a catalogue that supports filtering by Pokemon types. 
                </p>
                <p class="article__text">The database consists of three tables: "pokemon", "type"
                </p>
                <p class="article__text">and "pokemon_type".
                </p>
                <a class="article__link" href="https://raw.githubusercontent.com/senichek/pokemon-catalogue-NodeJS-Express-PSQL/master/DB-model.png">View details >></a>
            </div>
            <div class="article">
                <h1 class="article__header">Stack</h1>
                <p class="article__text">Node JS, Express, Postgres,
                </p>
                <p class="article__text">CSS, HTML,
                </p>
                <p class="article__text">EJS, JS.
                </p>
            </div>
            <div class="article">
                <h1 class="article__header">Source Code</h1>
                </p>
                <a class="article__link" href="https://github.com/senichek/pokemon-catalogue-NodeJS-Express-PSQL.git">GitHub >></a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p class="footer-text">The project is done by Olexiy Senichek</p>
    </footer>
</body>
</html>